.form {
  display: flex;
  flex-direction: column;
  border: solid 1px #2f25fa;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px #f4f4f48b;
}
label {
  margin: 10px 0 0 0;
}
fieldset {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  height: 24px;
  font-size: 18px;
}

.avisos {
  border: solid 1px #2f25fa;
  border-radius: 20px;
  box-shadow: 0 1px 10px #f4f4f48b;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  width: fit-content;
  padding: 0 20px;
}
